﻿@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>


<address>
    SAKARYA ÜNİVERSİTESİ<br />
    Bizimle iletişime geçebilirsiniz.<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>İletişim Formu</h4>
    </div>
    <div class="panel-body">
        <div col-md-12>
            <div class="contact-form">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Adınız Soyadınız *</label>
                    <input id="adsoyad" type="text" name="name" class="form-control" placeholder="Adınız Soyadınız *">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Eposta Adresiniz *</label>
                    <input id="eposta" type="text" name="name" class="form-control" placeholder="Eposta Adresiniz *">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mesajınız *</label>
                    @Html.TextArea("Mesaj", null, new { @class = "form-control", placeholder = "Mesajınız", rows = 6, columns = 40 })
                </div>
                <div class="form-group">
                    <button type="submit" class="col-sm-offset-4 btn btn-primary">Gönder</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>