﻿
@{
    ViewBag.Title = "Ders Notu";
}

<h2>Ders Notları</h2>

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead"></p>
            <div class="list-group">
                
                <a href="/Home/webProg" class="list-group-item">Web programlama</a>
                <a href="/Home/veriYapi" class="list-group-item">Veri yapıları</a>
                <a href="/Home/sayisalAnaliz" class="list-group-item">Sayısal Analiz</a>
             
               

            </div>
        </div>
