﻿
@{
    ViewBag.Title = "Vize-Final";
}

<h2>Vize-Final</h2>

<div class="container">

    <div class="row">

        <div class="col-md-3">
          
            <div class="list-group">

                <a href="/Home/ikiBinonDort" class="list-group-item">2014</a>
                <a href="/Home/ikiBinonBes" class="list-group-item">2015</a>
                <a href="/Home/ikiBinonAlti" class="list-group-item">2016</a>

            </div>
        </div>
        </div>
</div>