﻿body {
}
.navbar-inverse {
    background-color: maroon !important;
    border-color: #080808;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #efefef;
}



element.style {
}
.btn-primary {
    color: #999;
    background-color: maroon;
    border-color: maroon;
}
element.style {
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #989999;
    background-color: #800000;
}

.panel-default>.panel-heading {
    color: #b94a48;
    background-color: #f5f5f5;
    border-color: #ddd;
}
a {
    color: #277529;
    text-decoration: none;
}
.btn-success {
    color: #fff;
    background-color: #468847;
    border-color: #468847;
}
.btn-info {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




.blog-list-post,
.event-small-list,
.prof-list-item {
  display: block;
  padding-top: 15px;
}
.blog-list-post:first-child,
.event-small-list:first-child,
.prof-list-item:first-child {
  padding-top: 0 !important;
}
.blog-list-post:last-child,
.event-small-list:last-child,
.prof-list-item:last-child {
  margin-bottom: 0 !important;
}
.blog-list-post:not(:last-child),
.event-small-list:not(:last-child),
.prof-list-item:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px dashed;
}

.blog-list-thumb {
  float: left;
  width: 65px;
  height: 65px;
  display: block;
  margin-right: 15px;
}
.blog-list-thumb img {
  width: 100%;
  height: 100%;
}

.blog-list-title,
.blog-grid-title,
.event-small-title,
.event-title,
.gallery-title {
  margin: 2px 0 0 0;
}
.blog-list-title a,
.blog-grid-title a,
.event-small-title a,
.event-title a,
.gallery-title a {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 22px;
  font-weight: 700;
  font-size: 14px;
}

.blog-list-meta,
.event-small-meta,
.blog-grid-meta {
  margin: 0;
}


