﻿
@{
    ViewBag.Title = "DersNotu";
}

<h2>DersNotu</h2>

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">DERS NOTLARI</p>
            <div class="list-group">
                
                <a href="#" class="list-group-item">Web programlama</a>
                <a href="#" class="list-group-item">Veri yapıları</a>
                <a href="#" class="list-group-item">Sayısal Analiz</a>
             
               

            </div>
        </div>
