﻿@{
    ViewBag.Title = "Home Page";
}


    <!-- Portfolio Item Heading -->
  
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    
        <div class="col-md-12">
            <h3>ÜniSahaf</h3>
            <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="~/Content/banner.jpg" alt="" />
                                </div>

                                <div class="item">
                                    <img src="~/Content/banner.jpg" alt="" />
                                </div>

                                <div class="item">
                                    <img src="~/Content/banner.jpg" alt="" />
                                </div>

                                
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Duyurular</div>
            <div class="panel-body">
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Graduate Open Day at the Ruskin</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div>
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Visiting Artists: Giles Bailey</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div>
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Workshop: Theories of the Image</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary">Tüm Duyurular</button>
            </div>
        </div>
    </div>
   
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Blog</div>
            <div class="panel-body">
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Graduate Open Day at the Ruskin</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div>
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Visiting Artists: Giles Bailey</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div>
                <div class="blog-list-post clearfix">
                    <div class="blog-list-thumb">
                        <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                    </div>
                    <div class="blog-list-details">
                        <h5 class="blog-list-title"><a href="blog-single.html">Workshop: Theories of the Image</a></h5>
                        <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary">Blog</button>
            </div>
        </div>
    </div>
</div>


    <!-- /.row -->
    