﻿
@{
    ViewBag.Title = "VizeFinal";
}

<h2>VizeFinal</h2>

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">VİZEFİNAL</p>
            <div class="list-group">
               
                <a href="#" class="list-group-item">2015</a>
                <a href="#" class="list-group-item">2016</a>

            </div>
        </div>
