﻿
@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Vize Final", "Personel", "Admin")</li>
                        <li>@Html.ActionLink("Ders Notları", "Moduller", "Admin")</li>
                        <li>@Html.ActionLink("Kitap", "Blog", "Admin")</li>
                        <li>@Html.ActionLink("Duyurular", "Duyurular", "Admin")</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       
            
        </div>
    </div>
</div>

