﻿
@{
    ViewBag.Title = @WebUI.Resources.lang.KitapOnerileri;
}

@model  List<WebUI.Models.Data.Blog>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>@WebUI.Resources.lang.KitapOnerileri</h4>
        </div>
        <div class="panel-body">
          @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @if (item.BlogFoto == null)
                                {
                                    <img class="img-responsive" src="~/Content/images/resimyok.png" alt="@item.BlogBaslik" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.BlogFoto)" alt="@item.BlogBaslik" />
                                }
                            </div>
                            <div class="col-md-12">
                                <h4>@item.BlogBaslik</h4>
                                <p>@item.BlogIcerik</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

