﻿
@{
    ViewBag.Title = "KitapOnerileri";
}

@model List<WebUI.Models.Data.Blog>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li >@Html.ActionLink("Admin", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                    <li>@Html.ActionLink("Vize Final", "Personel", "Admin")</li>
                    <li>@Html.ActionLink("Ders Notları", "Moduller", "Admin")</li>
                    <li class="active">@Html.ActionLink("Kitap", "Blog", "Admin")</li>
                    <li>@Html.ActionLink("Duyurular", "Duyurular", "Admin")</li>
                   
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Kitap Önerileri</h4>
                    <a href="/Admin/BlogEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">Yeni Kitap</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Fotoğraf</th>
                                <th class="col-md-11">Kitap Ad</th>
                             
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.BlogFoto == null)
                                    {
                                        <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.BlogFoto)" />
                                        </td>
                                    }
                                    <td>@item.BlogBaslik</td>
                                    
                                    <td><a href='/Admin/BlogDuzenle?BlogID=@item.ID' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                    <td>@Html.ActionLink("Sil", "/BlogSil", new { BlogID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

