﻿
@{
    ViewBag.Title = "Personel Ekle";
}

@model WebUI.Models.Data.Takim

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("PersonelEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Yeni Sınav</h4>
                    <a href="/Admin/Blog" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">Tümü</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Sınav Adı</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">İçerik</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.Icerik, new { @class = "form-control", rows = 6, columns = 40 })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Sınav Tipi</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(m => m.Tip, new List<SelectListItem>
                                         {
                                            new SelectListItem{ Text="Seçiniz", Value = "0" },
                                            new SelectListItem{ Text="Vize", Value = "1" },
                                            new SelectListItem{ Text="Final", Value = "2" }
                                         }, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

